* {
    font-family: 'Raleway', sans-serif;
}

body {
    background-color: #727171;
}

#home {
    height: auto;
}

#home h1 {
    font-family: 'Bungee Shade', cursive;
    font-size: 5rem;
    margin-left: 0;
}

#home h3 {
    font-size: 1.5rem;
    padding-right: 5%;
}

#nav {
    box-shadow: 0 15px 10px -2px rgba(0,0,0,.2);
    padding-bottom: 10px;
}

#nav a {
    font-size: 1.5rem
}

.project {
    background-color: #303030;
    box-shadow: 10px 15px 10px -2px rgba(0,0,0,.2);
    width: auto;
}

.imgLeft {
    position: relative;
    width: 300px;
    margin-left: 7px;
}

.imgRight {
    position: relative;
    width: 300px;
    margin-left: 7px;
}

.projectText {
    position: relative;
    left: 0;
    bottom: 0;
    margin: auto;
    padding: 10px;;
    
}

#contact .container {
    box-shadow: inset 10px 15px 10px -2px rgba(0,0,0,.2);
}

#contact h2 {
    font-size: 2.5rem;
}

@media only screen and (min-width: 992px) {
    #home h1 {
        margin-left: 20vh;
        font-size: 10rem;
    }
    #home h3{
        font-size: 2.5rem;
    }
    #nav a {
        font-size: 2.5rem;
    }
    .imgLeft {
        position: relative;
        right: 50px;
        width: auto;
    }
    
    .imgRight {
        position: relative;
        left: 0;
        width: auto;
        margin-left: 0;
    }

    .projectText {
        width: 300px;
    }
    #contact h2 {
        margin-left: 15%;
    }
}