#nav {
    text-align: center;
}

#nav a {
    font-size: 1.5rem
}

.btn-nav {
    color: #303030; 
    background-color: #B4C320;
    font-size: large;
    z-index: 1;
  }

.btn-nav:hover {
    color: #303030; 
    background-color: #a5b41e;
}

.btn-nav:active {
    color: #303030; 
    background-color: #2a2e08;
}


@media only screen and (min-width: 992px) {
    #nav a {
        font-size: 2.5rem;
    }

    #nav {
        text-align: right;
    }
}